// Header with generic HMTL stuff
include _header.pug

// Libs
include _jq.pug
include _bs.pug

body
	section.jumbotron.text-center
		.container
			h1.jumbotron-heading Album Listing:
		p.lead.text-muted.
			All albums listed in below.
	
	.py-5.bg-light
		.container
			.row
				each alb in albums
					.col-md-4
						p
							a(href=`${alb}`) #{alb}
